*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Cookie', cursive; */
    font-family: 'Poppins', sans-serif;
        /* font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif; */
}
 body::-webkit-scrollbar{
    display: none;
 }
li{
    list-style: none;
  }
.myToggleBtn{
        display: none;
}
#resNavbar{
  display: none;
  transition: all 1s ease-out;
}
li a{
  color: rgb(255, 139, 197);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
li a:hover{
  color: rgb(255, 139, 197);
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid rgb(255, 139, 197);
}
.resNavbarCustLi a{
  transition: all 1s ease-in-out;
  color: rgb(255, 139, 197);
}
.resNavbarCustLi:hover{
  transition: all 1s ease-in-out;
   background-color: rgb(114, 114, 114);
}

/*  animations  */

    .attentionGrabberClass{
      animation: flashy 1s infinite ease-in-out;
    }
    @keyframes flashy{
       0%{
          color: rgb(255, 0, 0);
       }
       
       20% {
          color: rgb(255, 251, 0);
        }
      
       40% {
          color: rgb(255, 0, 200);
        }
        60%{
          color: rgb(0, 238, 255);
        }
        80%{
          color: rgb(47, 0, 255);
        }
        100%{
          color: rgb(162, 3, 255);
        }
        
    }



/*  animation ends */



@media only screen and (max-width:750px){
    .myToggleBtn{
       display: block;
    }
    .illustrationCont{
      position: absolute;
      opacity: 0.4;
    }
    #mynavbar{
       visibility: hidden;
    }
    #reqCont{
        height: 120vh;
    }
}