*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Cookie', cursive; */
    font-family: 'Poppins', sans-serif;
        /* font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif; */
}
 body::-webkit-scrollbar{
    display: none;
 }
  li{
    list-style: none;
  }
    .myToggleBtn{
        display: none;
    }

@media only screen and (max-width:750px){
    .myToggleBtn{
       display: block;
    }
    .illustrationCont{
      position: absolute;
      opacity: 0.4;
    }
    #mynavbar{
      display: none;
    }
}