*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Cookie', cursive; */
    font-family: 'Poppins', sans-serif;
        /* font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif; */
}
/* Color Theme Swatches in Hex */
.The-Black-and-Red-1-hex {
    background-color: #2A8C82;
}

.The-Black-and-Red-2-hex {
    background-color: #41BFB3;
}

.The-Black-and-Red-3-hex {
    background-color: #9BF2EA;
}

.The-Black-and-Red-4-hex {
    background-color: #275950;
}

.The-Black-and-Red-5-hex {
    background-color: #260101;
}
/* header   */
   /*  navbar  */ 
      nav{
        background: linear-gradient(45deg, #275950 ,#260101 ) ;
        min-width: 100vw;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      nav ul{
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      nav div{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      nav ul li{
        list-style: none;
        padding: 5px 1vw;
        margin: 0px 2px;
      }
      nav ul li a{
        color: #e954dc;
      } 
      nav ul li a:hover{
        color: #9BF2EA;
      }
      nav div a{
        padding: 5px 10px;
        margin: 0px 1px;
        border-radius: 2px;
        color: #260101;
        text-decoration: none;
        background: linear-gradient(45deg , #41BFB3 , #e954dc);
      }
      .logoContainer{
        color: #9BF2EA;
        font-size: 25px;
      }
      .toggleIconContainer{
        display: none;
      }


/*  welcome.php */
    .welcomeCont {
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .welcomeCont h3,span{
        padding: 0.8rem 0px;
    }
    .bodyCont,.illustrationCont{
      width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* background-color: #2A8C82; */
    }
    .bodyCont{
      justify-content: right;
    }
    .illustrationCont{
            justify-content: right;
  }
    .button-group{
      min-width: 100%;
      display: flex;
      margin: 0px 5px;
    }
    .button-group button{
      padding: 10px 5px;
    }
/*  Login Page */

.pageContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  block ends */
      
/*  media query---- */
      @media only screen and (max-width : 750px) {
         .toggleIconContainer{
          display: none;
          color: #41BFB3;
         }
      } 
/*  media query ends---- */